<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create baz</title>
</head>
<body>
    <form method="post">
        {%  csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Save">Create</button>
    </form>
</body>
</html>