<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baz details</title>
</head>
<body>
    Baz name = {{ obj.name }}
    <br />
    <a href="{% url 'baz_scheduler:baz-update' obj.pk %}">Edit</a>
    <a href="{% url 'baz_scheduler:baz-create' %}">Create a new Baz</a>
    <a href="{% url 'baz_scheduler:baz-delete' obj.pk %}">Delete the Baz</a>
</body>
</html>