<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer details</title>
</head>
<body>
    Customer name = {{ obj.name }}
    <br />
    <a href="{% url 'baz_scheduler:customer-update' obj.pk %}">Edit</a>
    <a href="{% url 'baz_scheduler:customer-create' %}">Add customer</a>
    <a href="{% url 'baz_scheduler:customer-delete' obj.pk %}">Delete the customer</a>
</body>
</html>