<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee details</title>
</head>
<body>
    Employee name = {{ obj.name }}
    <br />
    <a href="{% url 'baz_scheduler:employee-update' obj.pk %}">Edit details</a>
    <a href="{% url 'baz_scheduler:employee-create' %}">Add an employee</a>
    <a href="{% url 'baz_scheduler:employee-delete' obj.pk %}">Delete the employee</a>
</body>
</html>