<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sent-baz details</title>
</head>
<body>
    Sent-baz name = {{ obj.name }}
    <br />
    <a href="{% url 'baz_scheduler:sent-baz-update' obj.pk %}">Edit</a>
    <a href="{% url 'baz_scheduler:sent-baz-create' %}">Create a new sent-baz</a>
    <a href="{% url 'baz_scheduler:sent-baz-delete' obj.pk %}">Delete the sent-baz</a>
</body>
</html>